/* You can add global styles to this file, and also import other style files */
body {
    background-color: lightblue;
  }
  .bg-light {
    background-color: #f1a50378!important;
}

.btn-primary {
    color: #fff;
    background-color: #7b2d09b3;
    border-color: #007bff;
}
