<div>
        <button [routerLink]="['/input/']">Add To Your Inventory</button>
        <h3>{{ user_product.firstName }}'s Products!</h3>
        <table>
            <thead>
                <th>Name</th>
                <th>Price</th>
                <th>Inventory</th>
                <th>Style</th>
                <th>Description</th>
            </thead>
            <tbody>
                <tr *ngFor="let product of user_product.products" [routerLink]="['/productview/',product.productId]">
                    <td>{{ product.productName }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.inventory }}</td>
                    <td>{{ product.style }}</td>
                    <td>{{ product.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>
