<div>
    <h3>{{ user.firstName }}'s Wishlist!</h3>
    <table>
        <thead>
            <th>Name</th>
            <th>Price</th>
            <th>Department</th>
            <th>Style</th>
            <th>Description</th>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.productName }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.department }}</td>
                <td>{{ product.style }}</td>
                <td>{{ product.description }}</td>
            </tr>
        </tbody>
    </table>
</div>