<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Beverage Inventory Managment</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a
        *ngIf="!userService.loggedIn"
        class="nav-item nav-link"
        routerLink="/login"
        >Login</a
      >
      <a
      *ngIf="userService.loggedIn"
      class="nav-item nav-link"
      routerLink="/profile"
      >Profile</a
      >
      <a
      *ngIf="userService.loggedIn"
      class="nav-item nav-link"
      routerLink="productlist"
      >Your Inventory</a
      >
      <a
        *ngIf="userService.loggedIn"
        class="nav-item nav-link"
        href=""
        (click)="logout()"
        >Logout</a
      >
      <a
        *ngIf="!userService.loggedIn"
        class="nav-item nav-link"
        routerLink="/signup"
        >Sign Up</a
      >
     
    </div>
  </div>
</nav>
